<div class="sidenav">
    <div class="sidenav-brand">
        <div class="brand-logo">
            <i class="bi bi-scissors"></i>
        </div>
        <div>
            <div class="brand-name">Roupa Solution</div>
            <div class="brand-sub">Gestão de Uniformes</div>
        </div>
    </div>

    <nav class="sidenav-nav">
        <AuthorizeView>
            <Authorized>
                <div class="nav-section-label">MENU</div>
                <NavLink class="sidenav-link" href="" Match="NavLinkMatch.All">
                    <span class="nav-icon"><i class="bi bi-speedometer2"></i></span>
                    <span>Dashboard</span>
                </NavLink>
                <NavLink class="sidenav-link" href="clientes">
                    <span class="nav-icon"><i class="bi bi-buildings"></i></span>
                    <span>Clientes</span>
                </NavLink>
                <NavLink class="sidenav-link" href="layouts">
                    <span class="nav-icon"><i class="bi bi-palette2"></i></span>
                    <span>Fichas de Layout</span>
                </NavLink>
                <NavLink class="sidenav-link" href="pedidos">
                    <span class="nav-icon"><i class="bi bi-bag-check"></i></span>
                    <span>Pedidos</span>
                </NavLink>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
